# Copia este archivo a ".env" y ajusta los valores.

# development | production
ENVIRONMENT=development

SECRET_KEY=change-me
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=transser_django
POSTGRES_USER=transser
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=django_db
POSTGRES_PORT=5432
# Puerto expuesto al host para pgAdmin u otras herramientas externas.
POSTGRES_HOST_PORT=5434

# Puerto en el que se accede a Django desde el host.
DJANGO_HOST_PORT=8001
